*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos temporales y descompilados del proyecto
/LGHOME-Descompilado/
/app-descompilada/
/xml icons/
/iconos_ajustes_oneui_muted/
*.txt
*.patch
*.jks
CropImage.*
test.java
