<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="97002100"
    android:versionName="9.70.21"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="com.lge.launcher3"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="30"/>
    <permission
        android:label="@string/permlab_install_shortcut"
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:description="@string/permdesc_install_shortcut"/>
    <permission
        android:label="@string/permlab_read_settings"
        android:name="com.lge.launcher3.permission.READ_SETTINGS"
        android:protectionLevel="normal"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:description="@string/permdesc_read_settings"/>
    <permission
        android:label="@string/permlab_write_settings"
        android:name="com.lge.launcher3.permission.WRITE_SETTINGS"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:description="@string/permdesc_write_settings"/>
    <permission
        android:name="com.lge.launcher3.permission.RECEIVE_FIRST_LOAD_BROADCAST"
        android:protectionLevel="signatureOrSystem"/>
    <permission-group
        android:label="@string/permgrouplab_sprint_extension"
        android:name="com.sprint.internal.permission-group.SPRINT-EXTENSION"
        android:description="@string/permgroupdesc_sprint_extension"/>
    <permission
        android:label="@string/permlab_sprint_id_launcher_facade"
        android:name="com.sprint.internal.id.permission.LAUNCHERFACADE"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="com.sprint.internal.permission-group.SPRINT-EXTENSION"
        android:description="@string/permdesc_sprint_id_launcher_facade"/>
    <permission
        android:name="com.lge.launcher3.permission.DELETE_DIALOG"
        android:protectionLevel="signatureOrSystem"/>
    <permission
        android:name="com.lge.launcher.permission.CUSTOMIZE_APPICONS"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"/>
    <uses-permission android:name="com.lge.formmanager.permission.READ_FORMS_TABLE"/>
    <uses-permission android:name="com.lge.sizechangable.weather.platform.permission.USE_WEATHER_INFO"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.lge.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.lge.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.lge.launcher3.permission.RECEIVE_FIRST_LOAD_BROADCAST"/>
    <uses-permission android:name="com.lge.permission.GO_SLEEP_FORCE"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="com.lge.email.permission.READ_EMAIL"/>
    <uses-permission android:name="com.lge.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.lge.permission.LGPOWER_MANAGER_HELPER"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.lge.permission.MANAGE_PERMISSIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="com.lge.permission.SILENTLY_UNINSTALL_PACKAGE"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="com.lge.wallpaperpicker.permission.READ_WRITE"/>
    <uses-permission android:name="com.lge.permission.WRITE_HAL_SYSNODE_ITEM"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.lge.permission.iftttmanager.activity"/>
    <uses-permission android:name="com.lge.permission.iftttmanager.provider"/>
    <uses-permission android:name="android.permission.MANAGE_ROLE_HOLDERS"/>
    <uses-permission android:name="com.lge.ktzradapter.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="com.lge.secondlauncher.permission.ACCESS_COVERWALLPAPER"/>
    <uses-permission android:name="com.lge.permission.USE_ONE_HAND_OPERATION"/>
    <uses-permission android:name="com.lge.permission.READ_HAL_SYSNODE_ITEM"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.INPUT_CONSUMER"/>
    <uses-permission android:name="android.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"/>
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"/>
    <uses-permission android:name="android.permission.ALLOW_SLIPPERY_TOUCHES"/>
    <application
        android:label="@string/application_name"
        android:icon="@mipmap/lg_iconframe_home"
        android:name="com.lge.launcher3.LauncherApplication"
        android:debuggable="false"
        android:backupAgent="com.android.launcher3.LauncherBackupAgentHelper"
        android:allowBackup="@bool/enable_backup"
        android:restoreAnyVersion="true"
        android:hardwareAccelerated="true"
        android:largeHeap="@bool/config_largeHeap"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data
            android:name="LGBackup.Support"
            android:value="true"/>
        <meta-data
            android:name="LGBackup.DefaultBackupSize"
            android:value="0"/>
        <meta-data
            android:name="LGBackup.SizeUpdate"
            android:value="content://com.lge.launcher3.BackupSizeUpdateProvider"/>
        <meta-data
            android:name="com.lge.homeselector.descriptionString"
            android:value="android.resource://com.lge.launcher3/string/sp_menuless_launcher_description2_NORMAL"/>
        <meta-data
            android:name="com.lge.settings.fragment"
            android:value="com.lge.launcher3.homesettings.HomescreenSettingsFragment"/>
        <meta-data
            android:name="com.lge.settings.fragment1"
            android:value="com.lge.launcher3.help.HelpFragment"/>
        <meta-data
            android:name="com.lge.theme"
            android:value="Theme_LGE_White"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.33"/>
        <meta-data
            android:name="com.lge.special_display"
            android:value="true"/>
        <meta-data
            android:name="com.android.launcher3.launcher_dump_provider"
            android:value="com.android.launcher3.LauncherProvider"/>
        <meta-data
            android:name="com.lge.ignore_close_to_square"
            android:value="true"/>
        <meta-data
            android:name="com.lge.app.forceHideImmersiveConfirm"
            android:value="true"/>
        <uses-library
            android:name="com.lge.sui"
            android:required="false"/>
        <uses-library
            android:name="com.lge.lgdynamicactionbar"
            android:required="false"/>
        <activity
            android:theme="@style/Theme"
            android:name="com.lge.launcher3.LauncherExtension"
            android:enabled="true"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc"
            android:windowSoftInputMode="adjustPan"
            android:resumeWhilePausing="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SHOW_WORK_APPS"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme"
            android:label="@string/application_name_for_UX4"
            android:icon="@mipmap/lg_iconframe_home_app"
            android:name="com.lge.launcher3.AllAppsLauncherExtension"
            android:enabled="false"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc"
            android:windowSoftInputMode="adjustPan"
            android:resumeWhilePausing="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SHOW_WORK_APPS"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.START_DEFAULT_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.lge.homeselector.descriptionString"
                android:value="android.resource://com.lge.launcher3/string/sp_launcher_description_NORMAL_for_UX6"/>
        </activity>
        <activity
            android:theme="@style/Theme"
            android:label="@string/application_name_for_Easy"
            android:icon="@mipmap/lg_iconframe_easy_home"
            android:name="com.lge.launcher3.EasyHomeLauncherExtension"
            android:enabled="false"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc"
            android:windowSoftInputMode="adjustPan"
            android:resumeWhilePausing="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SHOW_WORK_APPS"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.START_DEFAULT_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.lge.homeselector.descriptionString"
                android:value="android.resource://com.lge.launcher3/string/sp_launcher_description_NORMAL_for_Easy"/>
        </activity>
        <activity
            android:theme="@style/SecondaryLauncherTheme"
            android:name="com.android.launcher3.SecondaryDisplayLauncher"
            android:enabled="true"
            android:launchMode="singleTop"
            android:configChanges="colorMode|density|smallestScreenSize|screenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SECONDARY_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.lge.launcher3.phoenix.ProcessPhoenix"
            android:process=":phoenix"
            android:resizeableActivity="true"/>
        <activity
            android:label="@string/toggle_weight_watcher"
            android:icon="@mipmap/lg_iconframe_home"
            android:name="com.android.launcher3.ToggleWeightWatcher"
            android:enabled="@bool/debug_memory_enabled">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/sp_pick_wallpaper_gallery"
            android:icon="@mipmap/lg_iconframe_wallpaper"
            android:name="com.lge.launcher3.wallpaperpicker.WallpaperChooserActivity"
            android:process=":wallpaper_chooser"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:label="@string/settings_button_text"
            android:name="com.android.launcher3.SettingsActivity"
            android:process=":settings_process"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/app_trash_title"
            android:icon="@mipmap/lg_iconframe_deleted_apps"
            android:name="com.lge.launcher3.recentuninstall.RUActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:screenOrientation="user"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_RECENTLY_UNINSTALLED_LIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lge.launcher3.recentuninstall.RUCreateShortcut"
            android:enabled="false"
            android:exported="false"/>
        <activity-alias
            android:label="@string/app_trash_title"
            android:icon="@mipmap/ic_homescreen_uninstall_shortcut"
            android:name="com.lge.launcher3.CreateShortcuts"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.lge.launcher3.recentuninstall.RUCreateShortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/sp_homescreen_category_NORMAL"
            android:icon="@mipmap/lg_iconframe_home"
            android:name="com.lge.launcher3.homesettings.HomeSettingsPrefActivity"
            android:exported="true"
            android:screenOrientation="user"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="190">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display"/>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_home_white"/>
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/sp_homescreen_category_NORMAL"/>
            <meta-data
                android:name="com.lge.themeicon.handle_configchange"
                android:value="true"/>
            <meta-data
                android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true"/>
        </activity>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/sp_swivel_homescreen_category_NORMAL"
            android:icon="@mipmap/lg_iconframe_home"
            android:name="com.lge.launcher3.homesettings.SwivelHomeSettingsPrefActivity"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="user"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_SWIVEL_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="185">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display"/>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_home_white"/>
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/sp_swivel_homescreen_category_NORMAL"/>
            <meta-data
                android:name="com.lge.themeicon.handle_configchange"
                android:value="true"/>
            <meta-data
                android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true"/>
        </activity>
        <activity
            android:theme="@style/AlertDialogActivity"
            android:name="com.lge.launcher3.droptarget.UninstallerActivity"
            android:permission="com.lge.launcher3.permission.DELETE_DIALOG"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:noHistory="true"
            android:finishOnCloseSystemDialogs="true"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter android:priority="1">
                <action android:name="com.lge.launcher3.intent.action.SHOW_DELETE_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="package"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AlertDialogActivity"
            android:name="com.lge.launcher3.droptarget.ReinstallerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:noHistory="true"
            android:finishOnCloseSystemDialogs="true"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_REINSTALL_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AlertDialogActivity"
            android:name="com.lge.launcher3.droptarget.DisableActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:noHistory="true"
            android:finishOnCloseSystemDialogs="true"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter android:priority="1">
                <action android:name="com.lge.launcher3.intent.action.SHOW_DISABLE_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="package"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/debug_memory_activity"
            android:icon="@mipmap/lg_iconframe_home"
            android:name="com.android.launcher3.MemoryDumpActivity"
            android:enabled="@bool/debug_memory_enabled"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lge.launcher3.debug.LGHiddenMenuActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:theme="@style/CustomUITheme"
            android:label="@string/custom_home_title"
            android:name="com.lge.launcher3.CustomUIActivity"
            android:enabled="false"
            android:exported="false"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/hide_apps_title"
            android:name="com.lge.launcher3.hideapps.HideAppsSettingActivity"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/sp_folderplus_title"
            android:name="com.lge.launcher3.folderplus.FolderPlusActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="unspecified"
            android:finishOnCloseSystemDialogs="true"
            android:autoRemoveFromRecents="true"/>
        <service
            android:name="com.android.launcher3.MemoryTracker"
            android:enabled="true"/>
        <service
            android:name="com.android.launcher3.notification.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:enabled="@bool/notification_badging_enabled"/>
        <receiver android:name="com.android.launcher3.WallpaperChangedReceiver">
            <intent-filter>
                <action android:name="com.lge.broadcast.android.intent.action.WALLPAPER_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.launcher3.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT"
            android:enabled="@bool/enable_install_shortcut_api">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.launcher3.InstallShortcutReceiverDCM"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.nttdocomo.android.applicationmanager.action.DAM_INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.SessionCommitReceiver">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lge.launcher3.receiver.PreferActivityChangeReceiver">
            <intent-filter>
                <action android:name="com.lge.android.intent.action.PREFERRED_ACTIVITY_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lge.launcher3.receiver.PendingIntentInactiveReceiver">
            <intent-filter>
                <action android:name="com.lge.appbox.bootinstall.completed"/>
                <action android:name="com.lge.android.owb.OWB_RELOAD"/>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
                <action android:name="com.lge.launcher3.intent.action.KILL_PROCESS"/>
                <action android:name="com.lge.launcher2.RELOAD_WORKSPACE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lge.launcher3.CustChangeReceiver">
            <intent-filter>
                <action android:name="com.lge.action.CUST_CHANGED_INFO"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.android.launcher3.LauncherProvider"
            android:readPermission="com.lge.launcher3.permission.READ_SETTINGS"
            android:writePermission="com.lge.launcher3.permission.WRITE_SETTINGS"
            android:exported="true"
            android:authorities="com.lge.launcher3.settings">
            <meta-data
                android:name="com.android.launcher3.launcher_dump_provider"
                android:value="com.android.launcher3.LauncherProvider"/>
        </provider>
        <provider
            android:name="com.android.launcher3.SwivelLauncherProvider"
            android:readPermission="com.lge.launcher3.permission.READ_SETTINGS"
            android:writePermission="com.lge.launcher3.permission.WRITE_SETTINGS"
            android:exported="true"
            android:authorities="com.lge.launcher3.swivel.settings"/>
        <provider
            android:name="com.lge.launcher3.allapps.AllAppsDBProvider"
            android:readPermission="com.lge.launcher3.permission.READ_SETTINGS"
            android:writePermission="com.lge.launcher3.permission.WRITE_SETTINGS"
            android:exported="true"
            android:authorities="com.lge.launcher3.AllAppsDBProvider"/>
        <provider
            android:name="com.lge.launcher3.allapps.SwivelAllAppsDBProvider"
            android:readPermission="com.lge.launcher3.permission.READ_SETTINGS"
            android:writePermission="com.lge.launcher3.permission.WRITE_SETTINGS"
            android:exported="true"
            android:authorities="com.lge.launcher3.SwivelAllAppsDBProvider"/>
        <provider
            android:name="com.lge.launcher3.homesettings.HomeSearchIndexablesProvider"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.lge.launcher3.HomeSearchIndexablesProvider"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <provider
            android:name="com.lge.launcher3.wallpaperpicker.utils.WallpaperValueCheckProvider"
            android:exported="false"
            android:authorities="com.lge.launcer3.wallpaperpicker.autority"/>
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true"/>
        <activity
            android:theme="@style/Animation.Activity.Custom"
            android:label="@string/smartbulletin"
            android:name="com.lge.launcher3.smartbulletin.setting.SBSettingListActivity"
            android:exported="true"
            android:taskAffinity="com.lge.launcher3.smartbulletin"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:hardwareAccelerated="@bool/config_hardwareAccelerated"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_SBSetting"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.lge.launcher3.smartbulletin.provider.SBProvider"
            android:readPermission="com.lge.launcher3.permission.READ_SETTINGS"
            android:writePermission="com.lge.launcher3.permission.WRITE_SETTINGS"
            android:exported="true"
            android:authorities="com.lge.launcher3.smartbulletin"/>
        <receiver android:name="com.lge.launcher3.backuprestore.LGBackupBroadcastReceiver">
            <intent-filter>
                <action android:name="com.lge.bnr.intent.action.REQUEST_HOME_BACKUP"/>
                <action android:name="com.lge.bnr.intent.action.REQUEST_HOME_RESTORE"/>
                <action android:name="com.lge.bnr.intent.action.REQUEST_LGHOME"/>
                <action android:name="com.lge.bnr.intent.action.QUERY"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.lge.launcher3.backuprestore.BackupSizeUpdateProvider"
            android:exported="true"
            android:authorities="com.lge.launcher3.BackupSizeUpdateProvider"/>
        <service
            android:name="com.lge.launcher3.backuprestore.LGBackupRestoreService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity
            android:theme="@style/Theme.InitialGuide"
            android:name="com.lge.launcher3.initialguide.InitialGuideActivity"
            android:hardwareAccelerated="@bool/config_hardwareAccelerated"/>
        <activity
            android:theme="@style/Theme.InitialGuide"
            android:name="com.lge.launcher3.initialguide.SwivelHomeGuideMainActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="reverseLandscape"
            android:hardwareAccelerated="@bool/config_hardwareAccelerated"/>
        <activity
            android:theme="@style/Theme.InitialGuide"
            android:name="com.lge.launcher3.initialguide.SwivelHomeGuideSubActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="@bool/config_hardwareAccelerated"/>
        <activity
            android:label="@string/menu_help"
            android:icon="@mipmap/lg_iconframe_home"
            android:name="com.lge.launcher3.help.HelpActivity"
            android:exported="false"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="@bool/config_hardwareAccelerated">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_HELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.lge.launcher3.receiver.ResetSettingReceiver">
            <intent-filter>
                <action android:name="lge.settings.intent.action.RESET_SETTING"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lge.launcher3.recentuninstall.service.ScheduleManager">
            <intent-filter>
                <action android:name="com.lge.android.intent.action.PREFERRED_ACTIVITY_CHANGED"/>
                <action android:name="com.lge.launcher3.intent.action.SCHEDULE_UNINSTALL_JOB"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.lge.launcher3.recentuninstall.service.UninstallJob"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity
            android:theme="@style/AlertDialogActivity"
            android:name="com.lge.app.permissions.RequestPermissionsActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <receiver
            android:name="com.lge.launcher3.receiver.CustomizeAppIconReceiver"
            android:permission="com.lge.launcher.permission.CUSTOMIZE_APPICONS"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lge.launcher.action.CUSTOMIZE_APPICONS"/>
            </intent-filter>
        </receiver>
        <activity
            android:label="@string/menu_wallpaper"
            android:name="com.lge.launcher3.wallpaperlist.WallpaperListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_WALLPAPER_LIST_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/menu_screen_effect"
            android:name="com.lge.launcher3.homesettings.ScreenEffectPrefActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_SCREEN_EFFECT_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/menu_screen_effect"
            android:name="com.lge.launcher3.homesettings.SecondScreenEffectPrefActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_SECOND_SCREEN_EFFECT_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/icon_shapes"
            android:name="com.lge.launcher3.homesettings.IconFramesPrefActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_ICON_FRAMES_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.lge.files.launcher3.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <receiver android:name="com.lge.launcher3.wallpapermotion.PreviewRequestReceiver">
            <intent-filter>
                <action android:name="com.lge.wallpaperpicker.action.request_captured_image"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="0x20a01b5"
            android:label="@string/menu_item_add_item"
            android:name="com.android.launcher3.dragndrop.AddItemActivity"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/additional_screen_name"
            android:name="com.lge.launcher3.homesettings.AdditionalScreenPrefActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.lge.launcher3.intent.action.SHOW_ADDITIONAL_SCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.android.quickstep.TouchInteractionService"
            android:permission="android.permission.STATUS_BAR_SERVICE"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.QUICKSTEP_SERVICE"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@style/Theme"
            android:name="com.android.quickstep.RecentsActivity"
            android:exported="true"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc"
            android:resumeWhilePausing="true"
            android:resizeableActivity="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.android.launcher3.proxy.ProxyActivityStarter"
            android:exported="false"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.android.quickstep.LockScreenRecentsActivity"
            android:taskAffinity="com.lge.launcher3.locktask"
            android:showOnLockScreen="true"
            android:directBootAware="true"/>
        <receiver
            android:name="com.lge.launcher3.receiver.MemoryDumpReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.lge.appmemorymonitoring.action.DUMP_HEAP"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
